.project-card {
    margin: 20px;
    padding: 20px;
    background-color:blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.project-title {
    font-size: 30px;
    font-weight: 700;
}
